body {
  background: #fdfdfd;
  padding-bottom: 40px; }

a,
a:active,
a:visited,
a:focus {
  color: #E9463F; }

a:hover {
  color: #ae1a14; }

h2, h3, h4 {
  margin-top: 50px;
  color: #E9463F; }

.Header {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  background: #fff;
  padding: 20px 0; }

.Content {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 840px; }

.Demo {
  min-height: 2000px; }

.Footer {
  padding: 20px;
  width: 100%; }

.FixedDemo-spacer {
  height: 200px; }

.FixedDemo-wrapper {
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 10; }

.FixedDemo {
  position: relative;
  padding: 0 20px;
  width: 140px;
  transition: background 1s; }
  .FixedDemo::after {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    width: 200px; }
  .FixedDemo.Plx--above::after {
    content: 'above'; }
  .FixedDemo.Plx--in-0::after {
    content: 'in 0'; }
  .FixedDemo.Plx--between-0-and-1::after {
    content: 'between 0 and 1'; }
  .FixedDemo.Plx--in-1::after {
    content: 'in 1'; }
  .FixedDemo.Plx--between-1-and-2::after {
    content: 'between 1 and 2'; }
  .FixedDemo.Plx--in-2::after {
    content: 'in 2'; }
  .FixedDemo.Plx--bellow::after {
    content: 'bellow'; }

.FixedDemo img {
  width: 100px;
  height: 149px; }

@media (min-width: 840px) {
  .FixedDemo {
    margin-left: calc(50% - 420px); } }

.HorizontalDemo {
  height: 150px;
  position: relative;
  margin-bottom: 50px; }

.HorizontalDemo-item {
  height: 150px;
  width: 150px;
  opacity: 0.5;
  top: 0;
  left: 0;
  position: absolute; }

.HorizontalDemo-item--one {
  background: #345; }

.HorizontalDemo-item--two {
  background: #567; }

.HorizontalDemo-item--three {
  background: #9ab; }

.ColorDemo {
  border: 5px solid #F14675;
  border-radius: 20px;
  padding: 20px;
  color: #F14675; }

.ClockDemo {
  position: relative;
  height: 200px;
  width: 200px;
  border: 10px solid #123;
  border-radius: 50%;
  background: #fff; }

.ClockDemo-arm {
  height: 100px;
  width: 10px;
  position: absolute;
  top: 10px;
  left: 85px;
  background: black;
  transform-origin: center 80px; }

.ClockDemo-arm--small {
  height: 70px;
  top: 40px;
  transform-origin: center 50px;
  transform: rotate(30deg); }
