html {
  font-size: 10px; }
  @media (min-width: 1800px) {
    html {
      font-size: 12px; } }
  @media (min-width: 2100px) {
    html {
      font-size: 14px; } }

body {
  background: #fdfdfd;
  font-size: 1.8rem; }

html,
body {
  overflow-x: hidden;
  width: 100%; }

a,
a:active,
a:visited,
a:focus {
  border-bottom: 1px solid #ddd;
  color: #131517; }

a:hover {
  color: #e34e47; }

code {
  background: none;
  border: 0;
  font-size: 0.9em;
  padding: 0; }

h1 {
  color: #409ad7;
  margin-bottom: 5rem; }

h2,
h3,
h4 {
  margin-top: 5rem; }

.Examples {
  color: #e34e47;
  margin-top: 2rem; }
  @media (min-width: 600px) {
    .Examples {
      margin-top: 0; } }

.Content {
  margin: 0 auto;
  max-width: 60rem;
  padding: 5rem 2rem;
  position: relative;
  text-align: center;
  width: 100%; }

.Footer {
  background: #f3f3f5;
  margin-top: 30rem;
  padding: 10vh 0; }
  @media (min-width: 600px) {
    .Footer {
      padding: 20vh 0; } }
  .Footer h1 {
    font-size: 4em;
    margin: 0; }
  .Footer h2 {
    font-size: 2.4em;
    margin: 0 0 5rem; }
  .Footer button {
    background: none;
    border: 1px solid rgba(19, 21, 23, 0.25);
    border-radius: 5rem;
    color: #131517;
    cursor: pointer;
    padding: 1.1rem 2rem;
    transition: border 250ms; }
    .Footer button:hover, .Footer button:focus {
      border: 1px solid #131517; }

.Footer-links {
  margin: 1rem 0 5rem; }
  .Footer-links a {
    font-size: 2rem;
    margin: .5rem;
    padding: 0.4rem 0; }

.Demo {
  text-align: center; }

.Explosion {
  height: 24rem;
  margin: 0 auto;
  position: relative;
  width: 24rem; }

.Explosion-box {
  background: #ddd;
  border-radius: 0.3rem;
  float: left;
  height: 5.4rem;
  margin: 0.3rem;
  width: 5.4rem; }

.Phone {
  height: 30.15rem;
  margin: 0 auto;
  position: relative;
  transform: rotate(90deg) scale(0);
  width: 15rem; }
  @media (min-width: 600px) {
    .Phone {
      height: 50.25rem;
      width: 25rem; } }

.Phone-svg {
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 10; }

.Phone-content {
  height: 74%;
  left: 8%;
  overflow: hidden;
  position: absolute;
  top: 13.5%;
  width: 85%;
  z-index: 0; }

.Phone-contentPlx {
  background: #409ad7;
  height: 100%;
  width: 100%; }

.Phone-contentSection {
  background: #e34e47;
  color: #fff;
  font-size: 6rem;
  font-weight: 300;
  height: 100%;
  padding-top: 75%;
  text-align: center;
  width: 100%; }
  .Phone-contentSection:nth-child(2) {
    background: #409ad7; }
  .Phone-contentSection:nth-child(3) {
    background: #34ba9c; }

.Links {
  border-radius: 50%;
  height: 12rem;
  margin: 0 auto;
  padding: 2rem;
  position: relative;
  width: 12rem; }
  @media (min-width: 600px) {
    .Links {
      bottom: 50px;
      position: fixed;
      right: 50px; } }

.Links-plx {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: opacity 250ms;
  width: 100%;
  z-index: 0; }
  .Links-plx.Plx--bellow,
  .Links-plx.Plx--bellow + .Links-content {
    opacity: 0; }

.Links-circle {
  background: #409ad7;
  border-radius: 50%;
  height: 1rem;
  position: absolute;
  top: -0.5rem;
  width: 1rem; }
  .Links-circle:nth-child(1) {
    left: 50%;
    margin-left: -0.5rem; }
  .Links-circle:nth-child(2) {
    background: #e34e47;
    left: 0.2rem;
    top: 70%; }
  .Links-circle:nth-child(3) {
    background: #efc241;
    right: 0.2rem;
    top: 70%; }

.Links-content {
  position: relative;
  text-align: center;
  transition: opacity 250ms;
  z-index: 10; }
  .Links-content a {
    display: inline-block;
    line-height: 1.2em;
    margin: 0.2rem; }

.StickyText {
  bottom: 0;
  left: 0;
  max-width: 54rem;
  opacity: 0;
  padding: 0 2rem;
  position: fixed;
  width: 100%; }
  @media (min-width: 600px) {
    .StickyText {
      left: auto;
      padding: 0; } }
  .StickyText h2 {
    margin: 0;
    transform: translateY(50%); }

.StickyText-trigger {
  margin-top: 50vh; }
